html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.container-top {
    height: 28px;
    width: 100%;
    background-color: #010101;
}

.top-content {
    display: flex;
    width: 1200px;
    height: 28px;
    margin-left: 360px;
    font-size: 18px;
    font-family: SimHei;
    color: #e6e6e6;
    line-height: 28px;
}

.container-top span {
    color: #ff6600;
}

.container-top img {
    width: 200px;
    height: 105px;

}


.login {
    margin-left: 686px;
    margin-right: 8px;
}

header {
    width: 1200px;
    margin-left: 360px;
    position: relative;

}

.container-search {
    width: 710px;
    margin-left: 755px;
}

.search {
    display: flex;
    background-color: white;
    width: 440px;
}

.search input {
    width: 100%;
    margin-top: 4px;
    border: solid 2px #ff6600;
    outline: none;
    padding-left: 8px;
}

.search img {
    height: 39px;
    width: 50px;
    margin-top: 4px;
}

.homeadd {
    height: 22px;
    line-height: 22px;
    display: flex;
    margin-left: 300px;
    margin-top: 14px;
}

.homeadd div {
    color: #4d4d4d;
    font-size: 14px;
    margin-right: 5px;
}

.homeadd select {
    border: solid 1px #d9d9d9;
}

.order-desc {
    width: 1200px;
    margin-top: 24px;
}

.look-order {
    color: #666666;
    font-size: 20px;
}

.order-title {
    width: 1200px;
    height: 60px;
    background-color: #f2f2f2;
    display: flex;
    line-height: 60px;
}

.select-all {
    margin-left: 23px;
    display: flex;
    color: #808080;
    font-size: 18px;
}

.selecta-all-icon {
    margin-top: 21px;
    width: 18px;
    height: 18px;
  
   
}

.shop-text {
    color: #808080;
    font-size: 18px;
    margin-left: 182px
}

.shop-price {
    color: #808080;
    font-size: 18px;
    margin-left: 346px;
}

.shop-num {
    color: #808080;
    font-size: 18px;
    margin-left: 127px;
}

.shop-allprice {
    color: #808080;
    font-size: 18px;
    margin-left: 115px
}

.shop-operation {
    color: #808080;
    font-size: 18px;
    margin-left: 88px
}

.header-line {
    width: 1200px;
    height: 6px;
    background-color: #dfdfdf;
    margin-top: 19px;
}

main {
    width: 1200px;
    margin-left: 364px;
}
.shop-item-container{
     width: 1200px;
     border-bottom: 2px solid #e6e6e6;
     margin-top: 26px;
}
.shop-desc {
    width: 1200px;
    height: 185px;
    display: flex;
}

.select-shop {
    height: 18px;
    width: 18px;
    margin-top: 30px;
   
    margin-left: 23px;

}

.shop-photo img {
    width: 150px;
    height: 150px;
     padding: 4px;
    border: solid 1px #e5e5e5;
}

.shop-photo {
    margin-top: 20px;
    margin-left: 39px;
    margin-bottom: 24px;
   
}

.shop-name {
    color: #4d4d4d;
    font-size: 16px;
    margin-left: 33px;
    margin-top: 43px;
    width: 130px;
    white-space: wrap;
}

.shop-price2 {
    margin-left: 256px;
    color: #4d4d4d;
    font-size: 16px;
    margin-top: 45px;
}

.control-add {
    width: 26px;
    height: 26px;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #4d4d4d;
    margin-top: 37px;
    margin-left: 0px;
    border: solid 1px #cccccc;
}

.control-num {
    width: 74px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    color: #4d4d4d;
    margin-top: 37px;
    margin-left: 0px;
    border: solid 1px #cccccc;
}

.control-less {
    width: 26px;
    height: 26px;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #4d4d4d;
    margin-top: 37px;
    margin-left: 75px;
    border: solid 1px #cccccc;
}

.pricesum {
    font-size: 16px;
    color: #4d4d4d;
    margin-top: 49px;
    margin-left: 61px;
    width: 60px;
}

.control-delete {
    margin-top: 49px;
    margin-left: 89px;
}

.control-delete {
    font-size: 16px;
    color: #4d4d4d;
}

.control-delete div:nth-child(1) {
    margin-bottom: 14px;
}
.control-delete div:nth-child(2) {
    margin-bottom: 14px;
    width: 150px;
}
.payfor-container{
    width: 1200px;
    height: 60px;
    display: flex;
}
.already-select{
    width: 1072px;
    height: 60px;
    line-height: 60px;
    display: flex;
    border: solid 1px #cccccc;
}
.select-allshop{
width: 18px;
height: 18px;
margin-left: 23px;
 margin-top: 21px;
}
.select-allshoptext{
    margin-left: 11px;
    color: #808080;
    font-size: 16px;
    width: 35px;
}
.delete-select{
    font-size: 16px;
    color: #808080;
    margin-left: 33px;
    width: 100px;
}
.summoney{
    width: 400px;
    margin-left: 450px;
    display: flex;
    justify-content: space-evenly;
}
.alredy-selectshop{
display: flex;
color: #808080;
}
.alredy-selectshop span{
    color: #f60;
}
.sumprice{
    color: #4d4d4d;
    font-size: 20px;
}
.sumprice span{
    color: #f60;
    font-size: 20px;
}
.gotopay{
    width: 128px;
    height: 60px;
    font-size: 26px;
    color: #fefefe;
    text-align: center;
    line-height: 60px;
    background-color: #f60;
}
.guess-like-container{
    width: 1200px;
    margin-top: 47px;
}
.guess-text{
    width: 125px;
    height: 47px;
    background-color: #f60;
    color: #ffffff;
    font-size: 24px;
    text-align: center;
    line-height: 47px;
}

.guess-like-list{
    width: 1200px;
    display: flex;
    border-top: 6px solid #f60 ;
}
.shop-items{
    width: 210px;
    height: 258px;
    margin-left: 38px;
}
.shop-img{
    width: 150px;
    height: 150px;
    margin-left: 30px;
}
.discount{
    width: 73px;
    height: 25px;
}
.likeshop-name{
    color: #333333;
    margin-left: 10px;
    font-size: 14px;
     overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}
.recommend{
    display: flex;
    margin-left: 10px;
    color: #f4290d;
    font-size: 14px;
}
.pentagram {
    display: flex;
}
.pentagram img{
    
    width: 21px;
	height: 18px;
}
.likeshop-price{
color: #f4290d;
margin-left: 10px;
font-size: 24px;
}
.likeshop-price span{
    color: #c0c0c0;
    margin-left: 22px;
    font-size: 24px;
}
.bottom-img img{
    width: 1200px;
    height: 90px;
margin-top: 90px;
}
footer {
    width: 100%;
    height: 472px;
}

.footer-line {
    width: 100%;
    height: 6px;
    background-color: #ff6600;
    margin-top: 59px;
}

.footer-benefits {
    width: 100%;
    height: 100px;
    background-color: #f2f2f2;
    ;
}

.footer-benefits-items {
    width: 41%;
    height: 50px;
    margin-left: 29.5%;
    display: flex;
    justify-content: space-between;
    padding-top: 26px;
}

.footer-benefits-items img {
    width: 15.28%;
    height: 50px;
    ;
}

.footer-nav {
    margin-left: 32%;
    width: 47%;
    height: 130px;
    display: flex;
    justify-content: space-between;
    margin-top: 46px;
}

.nav-container {
    font-size: clamp(12px, 0.8vw, 80px);
    height: 130px;
    color: #666666;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.nav-container span {
    font-size: clamp(12px, 0.9375vw, 80px);
    color: #000000;
    text-align: center;
}

.nav-container div {
    text-align: center;
}

.footer-nav img {
    height: 78%;
    width: 12.54%;
    margin-left: 11%;
}

.introduce {
    width: 40.05%;
    height: 15px;
    margin-top: 48px;
    margin-left: 29.94%;
    display: flex;
    justify-content: space-evenly;
}

.introduce span {
    font-size: clamp(12px, 0.729vw, 80px);
    color: #333333;
}

.footer-english {
    margin-top: 23px;
    font-size: clamp(12px, 0.729vw, 80px);
    margin-left: 40.729%;
    color: #333333;
}