html,body{
   width: 100%;
   height: 100%;
   padding: 0;
   margin: 0;
}
header{
    width: 100%;
    height: 28px;
    background-color: black;
}
.header-box{
     display: flex;
     position: relative;
    width: 1200px;
    height: 28px;
    margin:  0 auto;
   justify-content: space-between;
}
.header-box img{
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 112px;
}
 .header-box>.urladd{
    margin-left: 206px;
    color: white;
}
.welcome{
    color: #fff;
}
.welcome span{
      color: #ff6600;
      cursor: pointer;
}
nav{
    width: 1200px;
    height: 84px;
}
.search-box{
    display: flex;
    justify-content: space-between;
    margin-left:515px ;
    padding-top: 4px;
    width: 676px;
    height: 36px;
}
.top-search{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  
  
    background-color: #fff;
    z-index: 99999;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /* 隐藏 */
      height: 0;
      /* 属性过渡效果 */
      transition:all 0.5s;
}
.search{
    display: flex;
    width: 440px;
    height: 36px;
    background: #f60;
   border:2px solid #f60;
   /* 将盒子变为 怪异盒子 */
  box-sizing: border-box;
}
.search-btn{
    width: 50px;
    height: 32px;
    background: url('../img/bgicon.png');
    background-position: 0 0 ;
    cursor: pointer;
}
.search input{
    flex: 1;
    border: 0;
    outline: none;
    /* 文字距离左边的位置 */
    text-indent: 8px;
    color: #bfbfbf;;
}
.car-btns{
    width: 200px;
    height: 36px;
    background: #f60;
    display: flex;
    justify-content: space-between;
    color: #fff;
     cursor: pointer;
     gap: 8px;
}
.car-container{
    display: flex;
    width: 100px;
    height: 36px;
}
.car-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    background-color: #f60;
    border: 1px solid #f60;
   
}
.car-icon{
    width: 29px;
    height:100%;
    background: url('../img/bgicon.png');
    background-position:-5px -41px;
    margin-right: 3px;
}
.order-btn{
    flex: 1;
    background-color: #ebebeb;
    border: 1px solid #ccc;
    text-align: center;
    line-height: 32px;
   	color: #808080;;
}
.box-titile{
    width:855px ;
    height: 16px;
    display: flex;
    margin-left: 236px;
    font-family: SimHei;
	font-size: 16px;
    justify-content: space-around;
}
.box-titile div{
   margin-top: 25px;

}
.menu-banner{
    width: 1200px;
    height: 430px;
    display: flex;
}
.menu{
    position: relative;
    width: 200px;
    height: 430px;
    background: #f3f3f3;

}
.menu-item{
    width: 200px;
   
   
}
.menu-title{
    width: 200px;
    height: 28px;
    font-size: 14px;
    color: #1a1a1a;
    line-height: 28px;
    text-indent: 17px;
   
}
.menu-title-active{
    background-color: #fff;
    color: #f60;
    border: 1px solid #f60;
    height: 37px;
    line-height: 37px;
    border-right: 1px solid #fff;
 /* 提升层级  必须搭配定位 */
   position: relative; 
    z-index:9999;
}


.menu-content{
    display: none;
    position: absolute;
    top: 0;
    left: 200px;
    width:575px;
    height: 486px;
    background-color: #fff;
    border: 1px solid #f60;
    z-index: 999;
}
.banner{
    width: 1000px;
    height: 435px;
}
 .swiper {
    width:1000px;
    height: 435px;
}  
.swiper-slide img{
    width: 100%;
    height: 400px;
}
.swiper-pagination-bullet {
    width: 24px !important;
    height: 24px !important;
    color:white !important;
}
.swiper-pagination-bullet-active{
    background-color: #f60 !important;
}
.swiper-button-next, .swiper-button-prev{
    width: 36px  !important;
    height: 70px !important ;
   	background-color: #000000 !important;
	opacity: 0.4 !important;
    color: #ccc !important;
    --swiper-navigation-size:26px !important;
}
.swiper-button-prev, .swiper-rtl {
    left: 0 !important;
}
.swiper-button-next{
    right: 0 !important;
    
}
.swiper-button-next, .swiper-button-prev{
    /* calc()计算要有空格 */
    top: calc(50% - 35px) !important;
}
.swiper-pagination swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal{
bottom: 7px !important;
}
.recommendation-box{
    margin-top: 21px;
	width: 1200px;
}
.recommendation-box>.today{
  width: 168px;
  height: 30px;
  font-size: 24px;
  color: #ff6600;
  margin-left: 17px;
}
.today-line{
    width: 1200px;
    height: 6px;
    background-color: #f60;
    margin-top: 5px;
}
.mouseList{
    width: 1190px;
    height: 250px;
    display: flex;
    margin-left: 5px;
    border-right: solid 2px #ff6600;
    border-bottom: solid 2px #ff6600;
}
.mouseList-items{
    width: 200px;
	height: 250px;
	background-color: #ffffff;
	border-left: solid 2px #ff6600;
}
.product01{
    width: 150px;
	height: 150px;
    margin-left: 25px;
}
.limitTime{
    width: 73px;
	height: 25px;
}
.mouse-name{
    width: 182px;
	height: 13px;
    margin-left: 9px;
    font-size: 14px;
}
.mouse-detail{
    width: 147px;
	height: 13px;
    font-size: 14px;
    color: #f4290d;
    margin-left: 9px;
    margin-top: 2px;
}
.mouse-price{
    width: 67px;
	height: 18px;
	font-size: 24px;
	color: #f4290d;
    margin-left: 11px;
    margin-top: 11px;
}
.humidifier-List{
    width: 1190px;
    height: 250px;
    display: flex;
    margin-left: 5px; 
     border-right: solid 2px #ff6600;
}
.humidifier-items{
    width: 200px;
	height: 250px;
	background-color: #ffffff;
	border-left: solid 2px #ff6600;
     border-bottom: solid 2px #ff6600;
     
}
.index06_11{
    width: 150px;
	height: 150px;
    margin-left: 25px;
}

.humidifier-name{
    width: 182px;
	height: 13px;
    margin-left: 10px;
    font-size: 14px;
}
.humidifier-detail{
    width: 147px;
	height: 13px;
    font-size: 14px;
    color: #f4290d;
    margin-left: 9px;
    margin-top: 2px;
}
.humidifier-price{
    width: 67px;
	height: 18px;
	font-size: 24px;
	color: #f4290d;
    margin-left: 11px;
    margin-top: 11px;
}
.booksList{
    width: 1200px;
	height: 481px;
    margin-top: 41px;
    display: flex;
}
.book-box{
    width: 904px;
	height: 481px;
}
.book-title{
    width: 904px;
	height: 40px;
    display: flex;
    justify-content: space-between;
   
}
.book-title1{
    width: 149px;
	height: 26px;
	font-size: 28px;
}
.book-title2{
    width: 300px;
	height: 34px;
    font-size: 18px;
    display: flex;
    justify-content: space-around;
    margin-right: 25px;
    align-items: center;
    margin-top: 6px;
    
}
.book-line{
    width: 904px;
	height: 6px;
	background-color: #ff6600;
}
.book-items{
 width: 904px;
 height: 441px;
 display: flex;
 flex-wrap: wrap;
}
.book-item1{
    width: 238px;
	height: 220px;
    display: flex;
    flex-direction: column;
}
.book-item1 img{
    height: 291px;
    width: 238px;
}
.item1-box{
 width: 238px;
height: 150px;
background-color: #f9f9f9;
display: flex;
justify-content: space-around;
margin-bottom: 2px;
}
.item1-box .box1{
    width: 68px;
     height: 150px;
    font-size: 14px;
     display: flex;
     flex-direction: column;
    justify-content: space-around;
 }
.item1-box .box1 div{
        width: 70px;
        height: 13px;
 }
.book-item2{
    width: 666px;
    height: 220px;
    display: flex;
     
}  
.book-item2>.img1>img{
    width: 335px;
	height: 220px;
} 
.bookItem{
    border: solid 2px #cccccc;
    border-right: none;
    width: 166px;
    height: 220px;
}
.book2-item{
    border:solid 2px #cccccc;
    width: 165px;
    height: 220px;
}
 .img2 img{
    height: 171px;
    width: 163px;
}
.bookItem-right{
    width: 166px;
    height: 220px;
    border:solid 2px #cccccc;
}
.text-box{
    width: 80px;
	height: 13px;
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-bottom: 15px;
}
 .text1{
    width: 32px;
	height: 13px;
	font-size: 18px;
	color: #f91616;
}
 .text2{
    width: 37px;
	height: 13px;
	font-size: 18px;
	color: #b3b3b3;
    text-decoration: line-through;
}
.book-item21{
   display: flex;
   
}
.book-item3{
     width: 666px;
    height: 220px;
    display: flex;
    margin-left: 238px;
}
/* 电子书 */
.bookRank{
    width: 284px;
	height: 442px;
	background-color: #ffffff;
	border: solid 2px #e5e5e5;
    margin-top: 43px;
    margin-left: 12px;
}
.rank-title{
    width:284px;
    height: 32px;
    font-size: 24px;
    text-align: center;
    color: #808080;
}
.toplist{
    margin-top: 34px;
    margin-left: 12px;
    width: 438px;
    height: 437px;
    background-color: #93d46f;
    	background-color: #ffffff;
	border: solid 2px #e5e5e5;
}
.toplist-title{
        	font-size: 24px;
    width: 438px;
    height: 40px;
    line-height: 40px;
	color: #808080;
    text-align: center;

}
.toplist-item{
    width: 438px;
    display: flex;
    cursor: pointer;

}
.toplist-num{
    flex:0 0 22px;
    width: 22px;
    height: 40px;

    text-align: center;
    line-height: 40px;
}
.toplist-content{
    width: 262px;
    border-bottom: 2px solid #e6e6e6;
}
.toplist-bookname{
    width: 100%;
    height:40px ;
    line-height: 40px;
    overflow: hidden;
text-overflow:ellipsis;
white-space: nowrap;
}
.toplist-bookdesc{
    display: none;   /*正常显示 flex*/
    width: 251px;
    height: 150px;
     /*隐藏*/
    /* display: none;   */
}
.toplist-bookdesc img{
    margin-top: 2.5px;
    width: 110px;
    height: 145px;
}
.toplist-booktext{
    flex: 1;
    height: 130px;
    padding: 10px 16px 10px 12px;
    overflow:hidden;
text-overflow:ellipsis;
display:-webkit-box;
-webkit-box-orient:vertical;
-webkit-line-clamp:6;
}
.toplist-item:first-child .toplist-num{
    color: #f60;
}
.toplist-item:nth-child(2) .toplist-num{
    color: #f60;
}
.toplist-item:nth-child(3) .toplist-num{
    color: #f60;
}
/* 服装 */
.colthes{
    width: 1200px;
    height: 600px;
    margin-top:44px;
    margin-bottom: 44px;
}
.colthes-title{
    width: 1200px;
	height: 40px;
    display: flex;
    justify-content: space-between;  
}
.title-left{
    width: 149px;
	height: 26px;
	font-size: 28px;
}
.title-right{
    width: 300px;
	height: 34px;
    font-size: 18px;
    display: flex;
    justify-content: space-around;
    margin-right: 25px;
    align-items: center;
    margin-top: 6px;
}
.colthes-line{
    width: 1200px;
	height: 6px;
	background-color: #ff6600;
}
.colthes-desc{
    width: 1200px;
    height: 502px;
    display: flex;
}
.desc-left{
    width: 236px;
     display: flex;
    flex-direction: column;
}
.desc-left img{
    height: 350px;
    width: 236px;
}
.desc-banner{
    width: 424px;
}

.desc-banner .banner1{
    height: 340px;
    width: 424px;
    border-bottom: solid 2px #cccccc;
}
.desc-banner .banner2{
    height: 160px;
    width: 424px;
    border-bottom: solid 2px #cccccc;
}
.desc-banner .banner1 img{
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.desc-list{
    width: 540px;
    height: 502px;
    display: flex;
}
.desclist-item{
    width: 180px;
}
.desclist-top{
    width: 177px;
	height: 340px;
    border-right: solid 2px #cccccc;
    border-bottom: solid 2px #cccccc;
}
.desclist-top img{
    height: 100%;
    width: 100%;
}
.desclist-bottom{
    width: 177px;
	height: 160px;
    border-right: solid 2px #cccccc;
    border-bottom: solid 2px #cccccc;
}
.desclist-bottom img{
    height: 100%;
    width: 100%;
}
.desc-logo{
    width: 1200px;
    height: 50px;
    display: flex;
    margin-top: 9px;
    justify-content: space-around;
}
/* 运动 */
.sports{
    width: 1200px;
    height: 600px;
    margin-top:44px;
}
.sports-title{
    width: 1200px;
	height: 40px;
    display: flex;
    justify-content: space-between;  
}
.sports-line{
    width: 1200px;
	height: 6px;
	background-color: #ff6600;
}
.sports-desc{
    width: 1200px;
    height: 502px;
    display: flex;
}
/* 童装 */
.kids-colthes{
    width: 1200px;
    height: 600px;
    margin-top:44px;
}、
/* 家居日用 */
.homeuse{
    width: 1200px;
    height: 584px;
}
.homeuse-title{
    width: 1200px;
	height: 40px;
    display: flex;
    justify-content: space-between;
    margin-top: 44px;  
}
.homeuse-desc .desc-left{
    width: 480px;
	height: 500px;
	border: solid 2px #cccccc;
}
.homeuse-line{
    width: 1200px;
	height: 6px;
	background-color: #ff6600;
}
.homeuse-desc{
    width: 1200px;
    height: 500px;
    display: flex;
}
.homeuse-desc .desc-left img{
     width: 100%;
   height: 100%;
}


/* 推广商品 */
.recommend{
    width: 1200px;
    height: 706px;
}
.recommend-title{
     width: 1200px;
	height: 40px;
    display: flex;
    justify-content: space-between;
    margin-top: 44px;
    flex-direction: row;
    align-items: flex-end;
}
.recommend-title .title-left{
    color: #f60;
}
.recommend-title .dot-group{
    width: 34px;
    height: 12px;
    display: flex;
    gap: 10px;

}
.recommend-line{
    width: 1200px;
	height: 6px;
	background-color: #ff6600;
    margin-top: 10px;
}
/* 圆点 */
.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}
.dot-orange {
  background-color: #ff6600;
}
.dot-gray {
  background-color: #bfbfbf;
}
 .list{
            display: flex;
            flex-wrap: wrap;
            margin: auto;
            width: 1200px;
            height: 620px;
            padding-top: 16px;
            background-color: #fff;
 }
     .goods{
            width: 183px;
            height: 300px;
            border-radius: 5px;
            padding-left: 31px;
            margin-left: 14px;
            margin-right: 11px;
        }
    .goods-img{
        width: 150px;
        height: 175px;
    }
    .goods-img img{
        padding-top: 25px;
             width: 150px;
            height: 150px;

        }
     .goods-title{
           width: 150px;
            height: 50px;
            font-size: 14px;
            line-height: 25px;
            overflow:hidden;
            text-overflow:ellipsis;
            display:-webkit-box;
            -webkit-box-orient:vertical;
            -webkit-line-clamp:2;
        }
    .goods-price{
        width: 150px;
        height: 40px;
        font-size: 20px;
        font-weight: 0;
        color: #ff0000;
    }
    .goods-comment{
        font-size: 12px;
         font-weight: 400;
         display: flex;
    }
    .number{
        color: #ff0000;
         font-size: 12px;
          font-weight: 400;
    }
.goods:hover{
            border: 1px solid #f2f2f2;
           background-color: #f2f2f2;
}
.topback{
    width: 100%;
	height: 50px;

}

main{
    width: 1200px;
    margin:  0 auto;
}
footer{
    position: relative;
    width: 100%;
    height: 472px;
    background-color: #fff;
}
.topback img{
    position: absolute;
    width: 30px;
	height: 50px;
    margin-left: 300px;
    cursor: pointer;
    left: calc(50% + 300px );
}
.foot-line{
    width: 100%;
    height: 6px;
    background-color: #ff6600;
}
.grayfoot{
    height: 100px;
    width: 100%;
   background-color: #f2f2f2;
   display: flex;
   align-items: center;
   justify-content: center;
}
.foot-icon{

	width: 785px;
	height: 50px;
    display: flex;
    justify-content: space-between;
}
.foot-icon img{
    width: 126px;
	height: 50px;
}
.foot-center{
    width: 100%;
    height: 166px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    padding-left: 106px;
}
.center-desc{
    width: 681px;
    height: 130px;
    display: flex;
    margin-top: 36px;
    justify-content: space-between;
}
.center-desc .list-item{
    width: 112px;
	height: 130px;
    font-size: 16px;
    color: #4d4d4d;
    
}
 .list-item>div:nth-child(1){
    font-size: 18px;
	line-height: 28px;
}
.center-img{
	width: 113px;
	height: 78px;
    margin-left: 107px;
}
.foot-introduce{
    width: 1920px;
	height: 15px;
    margin-top: 48px;
  text-align: center;
}
.foot-end{
    width: 1920px;
	height: 15px;
    margin-top: 23px;
  text-align: center;
}
/* 侧边定位跳转 */
.asider{
    position: fixed;
    left: calc( 50% - 640px);
    top: 40px;
    z-index: 9999;
    cursor: pointer;

    width: 40px;
    height: 200px;
    background-color: #f2f2f2;
    /*隐藏 */
    display: none;
}
.aside-item{
    position: relative;
    width: 40px;
    height: 40px;
}
.aside-icon{
     width: 40px;
    height: 40px;
}

.aside-text{
    position: absolute;
    top:0;
    left: 40px;
    width: 40px;
    height: 40px;
    background: #93d46f;
    color: #fff;
    text-align: center;
    line-height: 40px;
    display:none;

}
/* 侧边二维码 */
.aside-right{
    display: flex;
    position: absolute;
    flex-direction: column;
    right: 0;
    top: 210px;
    width: 140px;
    height: 180px;
    box-sizing: border-box;
    z-index: 999;
}
#aside1{
    margin-left: 100px;
    width: 40px;
    height: 40px;
}
.aside-center{
    display: flex;
}
#aside2{
    width: 100px;
    height: 100px;
}
#aside3{
    width: 40px;
    height: 100px;
}
#aside4{
    margin-left: 100px;
    width: 40px;
    height: 40px;
}
  







