html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.container-top {
    height: 28px;
    width: 100%;
    background-color: #010101;
}

.top-content {
    display: flex;
    width: 1200px;
    height: 28px;
    margin-left: 360px;
    font-size: 14px;
    font-family: SimHei;
    color: #e6e6e6;
    line-height: 28px;
}

.container-top img {
    width: 258px;
    height: 105px;

}

.container-top span {
    color: #ff6600;
}

.login {
    margin-left: 639px;
}

.welcome {
    margin-left: 646px;
    color: #666666;
    font-size: 30px;
    margin-top: 17px;
}

main {
    width: 100%;
    height: 500px;
    background-color: #e93854;
    position: relative;
    margin-top: 18px;
}
.login-container{
    background-color: #efffff;
    position: absolute;
    width: 350px;
    height: 378px;

    left: 1113px;
    top: 65px;
}
.login-register{
    width: 350px;
    font-size: 22px;
    display: flex;
    margin-top: 20px;
}
.login-register div:nth-child(1){
margin-left: 47px;
 color: #ff6600;
}
.login-register div:nth-child(2){
margin-left: 79px;
}
.loginway{
    width: 350px;
    display: flex;
    margin-top: 70px;
    height: 168px;
  
}
.inputlogin{
width: 300px;
height: 50px;
font-size: 16px;
color: black;
margin-left: 20px;
display: none;

}

.password{
    height: 54px;
    line-height: 50px;
    display: flex;
    margin-top: 20px;
}
.Account{
    height: 54px;
    margin-top: 50px;
    display: flex;
}
.Account input{
    border: none;
    border-radius: 10px;
    outline: none;
    width: 240px;
    height: 50px;
    outline: none;
     margin-left: 50px;
}
.Account input::placeholder,.password input::placeholder{
    text-align: center;
    line-height: 50px;
    font-size: 16px;
}
.password input{
    margin-left: 50px;
      border: none;
    border-radius: 10px;
    outline: none;
     width: 240px;
    height: 50px;
    outline: none;
    
}
.loginway img:nth-child(1){
 width: 147px;
 height: 147px;
 margin-left: 29px;
 margin-right: 25px;
 margin-top: 10px;
}
.loginway img:nth-child(2){
 width: 141px;
 height: 168px;
}
.btnlogin{
    width: 270px;
background-color: #aCD8FF;
    font-size: 20px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    margin-top: 40px;
    border-radius: 10px;
    margin-left: 30px;
}
.textway{
    width: 350px;
    margin-top: 31px;
    color: #666666;
    font-size: 14px;
    text-align: center;
}
footer{
    width: 100%;
    height: 540px;
}
.introduce {
    width: 770px;
    height: 15px;
    margin-top: 48px;
    margin-left: 575px;
    display: flex;
    justify-content: space-evenly;
    
}

.introduce span {
    font-size: 14px;
    color: #333333;
}

.footer-english {
    margin-top: 23px;
    font-size: 14px;
    margin-left: 782px;
    color: #333333;
}